.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.App-header {
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin: 20px 0 0;
  padding: 0;
}

h4 {
  font-style: italic;
  margin-top: 5px;
}

p {
  text-transform: uppercase;
}

.btn {
  background: #ca1b0f;
  border: 0;
  padding: 11px 11px;
  color: white;
  font-size: 16px;
  margin: 20px auto 0 auto;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 40%;
  }
.button:hover {
  background: #28597a;
  color: #ccc;
}
.button:active {
  background: #1b435e;
}